@use '../abstracts/variables.scss' as *;
@use '../abstracts/mixins.scss' as *;

.footer {
  padding-block: $padding-m;
  background-color: $color-tertiary;

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-l;
    margin-bottom: $margin-block-s;
  }

  &__logo {
    height: $font-size-l !important;
  }

  &__description {
    font-size: $font-size-xs;
    color: $color-secondary-dark;
    padding-block: $padding-m;
  }

  &__box {
    flex-grow: 1;

    &:first-child {
      flex: 1 1 28rem;
    }
  }

  &__box-title {
    margin-bottom: $margin-block-s;
    font-size: $font-size-s;
    color: $color-secondary;
  }

  &__list-item {
    display: flex;
    gap: $gap-xs;
    font-size: $font-size-xs;
    color: $color-secondary-dark;
    margin-bottom: calc($margin-block-s / 2);

    i {
      font-size: $font-size-s;
      color: $color-primary;
    }
  }

  &__link {
    color: $color-secondary-dark;

    @include set-hover {
      &:hover {
        color: $color-primary;
      }
    }
  }

  &__copyright {
    padding-top: $padding-s;
    border-top: 0.1rem solid rgba($color-secondary-dark, 0.3);
    font-size: $font-size-xs;
    text-align: center;
    color: $color-secondary;
  }
}
