@use '../abstracts/variables.scss' as *;

.counter {
  & > * {
    display: block;
    text-align: center;
  }

  &__number {
    padding-bottom: $padding-xs;
    font-size: $font-size-xl;
    font-weight: 600;
    color: $color-primary;
  }

  &__title {
    font-size: $font-size-s;
    color: $color-tertiary;
  }
}
