@use '../abstracts/variables.scss' as *;
@use '../abstracts/mixins.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;

  @include set-reduced-motion {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    transition-delay: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: $header-height;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/img/newsletter_640.jpg');
  background-size: cover;
  background-attachment: fixed;

  @include set-breakpoint(tab-port) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('/img/newsletter_1920.jpg');
  }
}

a {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

input,
select,
textarea,
button {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

::selection {
  background-color: $color-primary;
  color: #fff;
}
